@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto/Roboto-Regular.ttf') format(truetype)
}

@font-face {
	font-family: 'KumarOne';
	src: url('../fonts/KumarOne.ttf') format(truetype)
}

* {
    text-decoration: none;
    list-style-type: none;
}

a{
    text-decoration: none !important;
}

h1 {
    font-family: 'KumarOne';
    font-size: 42px;
    color:#000000;
    padding: 20px;
}

h2{
    color: #000000;
    font-family: 'KumarOne';
    font-size: 30px;
}

h3{
    font-family: 'Roboto';
    font-size: 33;
    text-transform: uppercase;
}

h4 {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 23px;
    font-weight: bolder;
}

p{
    font-size: 16px;
    line-height: 2;
}

body{
    color: white;
    font-family: 'Roboto' !important;
}

.menuMobile, footer{
    background-color: #272a67;
}

.navbar {
    background-color: #272a67;
    padding: 1rm;
    height: 0;
    min-height: 12vh;
}

.navbar-nav .nav-item a{
    color: white;
}

.navbar-nav .nav-item a:hover {
    color: rgb(184, 184, 184);
    font-weight: 500;
}

.myButton{

font-family: Roboto, sans-serif;
font-weight: 0;
font-size: 14px;
color: #000000;
background-color: #b6d5c9;
padding: 10px 30px;
border: none;
box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
border-radius: 50px;
transition : 1000ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-decoration: none;
margin: auto;
}

.myButton:hover{

text-decoration: none;
font-weight: 500;
transition : 1000ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #88c4ad;
color: #000000;
border: none;
}

footer td{
    color: white !important;
    background-color: #272a67 !important;
}

ul{
    padding: 0;
}

.headContent, .services, .comments{
    padding-top: 50px;
    padding-bottom: 50px;;
}

.headContent {
    color: black;
}

.image1{
    height: 300px;
    width: 500px;
    background-size: cover;
    background-image: url(../images/index/garage.jpg);
}

.card-text {
    text-align: justify;
}

.card {
    background-color: #47496B;
    color: white !important;
    font-weight: lighter !important;
}

.comment{
    background-color: #47496B;
    padding: 20px;
}

.stars {
    font-size: 30px;
}

.fa-star {
    cursor: pointer;
    
    color: grey;
}

.gold {
    color: gold;
}

#error {
    background-color: rgba(0, 0, 0, 0.06);
    color: red;
    margin-bottom: 10px;
}

.contactForm{
    background-color: #47496B;
    padding: 25px;
}

.filtre {
    padding: 25px;
    background-color: #47496B;
    margin-bottom: auto;
}